body{
    color: grey;
}

ul{
    list-style-type: none;
    
}

ul li {
    cursor: pointer;

}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100%;
   
}

.column{
    padding: 5px;
    margin: 5px;
}

.menu-column{
    flex: 1;
}

.content-column{
    flex: 5;
    
}

.menu-title{
    font-weight: bold;
}